.markdown {
  font-size: 1.25rem;
}

.markdown p,
.markdown ul,
.markdown ol,
.markdown blockquote {
  margin: 1.25rem 0;
}

.markdown h2 {
  font-size: 3rem;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.markdown h3 {
  font-size: 2rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}
