.appear {
  @apply absolute block;
  opacity: 0;
  animation: appear-in 2s linear forwards;
}

@keyframes appear-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.star {
  @apply flex items-center justify-center w-full h-full;
  animation-timing-function: ease-in-out;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

.star:before,
.star:after {
  @apply absolute;
  background: linear-gradient(
    -45deg,
    rgba(0, 0, 255, 0),
    white,
    rgba(0, 0, 255, 0)
  );
  content: '';
  filter: drop-shadow(0 0 6px white);
}

.star:after {
  height: 100%;
  width: 1px;
}

.star:before {
  height: 1px;
  width: 100%;
}

.blink {
  animation-name: blink;
}
@keyframes blink {
  0%,
  100% {
    filter: brightness(0.5);
  }
  50% {
    filter: brightness(2);
  }
}

.twinkling {
  animation-name: twinkling;
}
@keyframes twinkling {
  0%,
  100% {
    transform: scale3d(1, 1, 1);
  }
  70% {
    transform: scale3d(1.4, 1.4, 1.4);
  }
}

.shooting {
  @apply absolute flex items-center;
  top: 15%;
  left: 85%;
  animation: shooting 1s linear forwards;
  animation-delay: inherit;
  opacity: 0;
}

.shooting .star {
  @apply w-4 h-4;
}

@keyframes shooting {
  0% {
    transform: rotate(135deg) translateX(0);
  }
  40% {
    opacity: 1;
  }
  95% {
    transform: rotate(135deg) translateX(200px);
    opacity: 1;
  }
  100% {
    transform: rotate(135deg) translateX(200px);
    opacity: 0;
  }
}

.shooting:after {
  @apply absolute block w-24;
  content: '';
  height: 2px;
  right: 0.5rem;
  background: linear-gradient(-45deg, white, rgba(0, 0, 255, 0));
  filter: drop-shadow(0 0 6px white);
  transform-origin: right;
  animation: tail 1s ease-in-out forwards;
  animation-delay: inherit;
}

@keyframes tail {
  0%,
  100% {
    transform: scaleX(0);
  }
  30% {
    transform: scaleX(1.2);
  }
}
