.bg {
  @apply absolute;
  background: radial-gradient(
    ellipse at bottom,
    var(--bg-end) 0%,
    var(--bg-start) 100%
  );
  width: 400vw;
  height: 400vh;
  will-change: left, top;
}

.wrapper {
  @apply absolute w-screen h-screen overflow-hidden;
  z-index: -1;
}

.provider {
  @apply fixed top-0 left-0 w-screen h-screen overflow-hidden;
  overscroll-behavior: contain;
}
