.bg {
  @apply absolute;
  background: linear-gradient(to bottom, var(--bg-start) 0%, var(--bg-end) 90%);
  width: 400vw;
  height: 400vh;
  will-change: left, top;
}

.wrapper {
  @apply absolute w-screen h-screen overflow-hidden;
  z-index: -1;
}

.provider {
  @apply fixed top-0 left-0 w-screen h-screen overflow-hidden;
  overscroll-behavior: container;
}
