.page {
  @apply relative flex flex-col p-4 pt-12 mb-4 text-white;
  counter-increment: pages;
}

.page:first-of-type {
  background: linear-gradient(to left, white 2px, transparent 2px)
      calc(100% - 0.4rem) 0%,
    linear-gradient(to bottom, white 2px, transparent 2px) 100% 0.4rem;
  background-repeat: no-repeat;
  background-size: 60px 60px;
}

.page::before {
  @apply absolute text-sm;
  bottom: 4rem;
  writing-mode: vertical-lr;
  right: -0.5rem;
  content: 'RS-19911201-11';
}

.page:first-of-type::before {
  @apply left-0;
  writing-mode: horizontal-tb;
  bottom: 2rem;
  right: auto;
}

.page:not(:first-of-type)::after {
  @apply absolute right-0 text-sm font-bold;
  bottom: 1rem;
  content: counter(pages);
}

.bust {
  @apply self-center;
  max-width: 80%;
}

.title {
  @apply font-bold leading-none;
  font-size: 5rem;
  overflow-wrap: break-word;
}

.logo {
  @apply absolute w-20 h-20;
  bottom: 1rem;
  right: 1rem;
  filter: saturate(0);
  image-rendering: ;
}

@media (orientation: landscape) {
  .page {
    height: 90vh;
  }
}

@media (orientation: portrait) {
  .page {
    height: 100vh;
  }
}
