.trends {
  @apply grid grid-flow-row-dense grid-cols-3 gap-4 py-12;
}

.trends button {
  @apply w-full h-full border rounded;
  min-height: 6rem;
}

@screen md {
  .trends {
    @apply grid-cols-5;
  }
}

.list {
  @apply transition-transform duration-100;
  will-change: transform;
  text-rendering: optimizeLegibility;
}
