.py-05 {
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
}

.markdown {
  @apply font-sans text-lg leading-7 break-words align-baseline;
  color: var(--text);
}

.markdown p,
.markdown ul,
.markdown ol,
.markdown blockquote,
.markdown pre {
  @apply mb-8 text-lg;
}

.markdown > * + * {
  @apply mt-0 mb-4;
}

.markdown li + li {
  @apply mt-1;
}

.markdown li > p + p {
  @apply mt-6;
}

.markdown abbr {
  cursor: help;
  text-underline-position: under;
}

.markdown strong {
  @apply font-semibold;
}

.markdown strong a {
  @apply font-bold;
}

.markdown h2,
.markdown h3 {
  @apply mb-4 font-semibold leading-10;
}

.markdown h2 {
  @apply mt-12 text-3xl;
}

.markdown h3 {
  @apply mt-8 text-2xl;
}

.markdown blockquote {
  @apply pl-4 pr-4 text-base italic border-l-2 border-gray-200;
}

.markdown code,
.markdown pre,
.markdown kbd {
  @apply font-mono;
  background-color: #011627;
}

.markdown code,
.markdown kbd {
  color: var(--inlineCode-text);
}

.markdown code {
  @apply inline px-1 font-mono rounded;
}

.markdown pre {
  @apply p-2 overflow-x-auto font-mono border border-gray-800 rounded;
}

.markdown pre code {
  @apply block p-0 overflow-visible text-sm bg-transparent rounded-none;
  color: var(--code-text);
}

@media (hover: hover) {
  .markdown pre::-webkit-scrollbar-track {
    @apply rounded-full;
  }

  .markdown pre::-webkit-scrollbar {
    @apply h-3;
  }

  .markdown pre::-webkit-scrollbar-thumb {
    @apply rounded-full;
    background-color: #c6c6c6;
    border: 4px solid #212121;
  }
}
@screen md {
  .markdown pre {
    @apply p-4;
  }
  .markdown pre code {
    @apply text-base;
  }
}

.markdown ul {
  @apply pl-8 list-disc;
  list-style-image: url('/images/cursor.svg');
}

.markdown ul ul {
  list-style: square;
}

.markdown ol {
  @apply pl-8 list-decimal;
}

.markdown kbd {
  @apply inline-block px-1 font-mono text-xs font-normal align-middle border rounded py-05;
  box-shadow: var(--shadow);
}

.markdown table {
  @apply text-base border-gray-600;
}

.markdown th {
  @apply px-3 py-1 border;
}

.markdown td {
  @apply px-3 py-1 border;
}

.markdown hr {
  border-color: var(--hr);
}

.markdown img {
  max-width: 42rem;
  margin: 0 auto;
  width: 100%;
  transition: all 0.33s ease-in-out;
}

.markdown a {
  @apply text-cyan-400;
}

.markdown a:hover {
  animation: neon 2s linear infinite;
}

@keyframes neon {
  0%,
  100% {
    @apply text-cyan-400;
  }
  50% {
    text-shadow: 0 0 1vw #00a895, 0 0 2vw #00a895, 0 0 1.4vw #00a895,
      0 0 2vw #00a895, 0 0 0.4vw #8bfdfe, 0.25vw 0.25vw 0.1vw #147280;
    color: #d7fffc;
  }
}
