.notfound {
  --size: calc(20vh + 20vw);
}

.message {
  @apply flex flex-col justify-between h-screen overflow-hidden;
}

.message p {
  @apply font-bold;
  font-size: calc(8vw + 10vh);
  line-height: calc(16vw + 10vh);
  height: 25vh;
}

.video {
  @apply absolute;
  width: var(--size);
  top: calc(50% - calc(var(--size) / 2));
  left: calc(50% - calc(var(--size) / 2));
}

.expand {
  --size: calc(26vh + 26vw);
}

.nav {
  @apply absolute top-0 right-0 flex flex-row text-xl;
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

@screen md {
  .nav {
    @apply text-2xl;
  }
}

.nav a {
  @apply font-semibold;
  filter: drop-shadow(0 0 1rem currentColor) drop-shadow(0 0 0.33rem #ffffff66);
}
.nav a:focus,
.nav a:hover {
  @apply line-through;
}

.nav a:nth-child(1) {
  @apply text-turbo;
}

.nav a:nth-child(2) {
  @apply text-cranberry;
}

.shake {
  animation: shake 4s ease-in-out infinite;
  animation-duration: 4s;
}

@keyframes shake {
  10% {
    transform: translate(1px, -2px) rotate(1.5deg);
    opacity: 0.95;
  }
  20% {
    transform: translate(-4px, 5px) rotate(-0.5deg);
    opacity: 0.8;
  }
  30% {
    transform: translate(4px, -2px) rotate(-1.5deg);
    opacity: 0.62;
  }
  40% {
    transform: translate(-1px, 2px) rotate(-1.5deg);
    opacity: 0.97;
  }
  50% {
    transform: translate(5px, 0px) rotate(1.5deg);
    opacity: 0.97;
  }
  60% {
    transform: translate(2px, -4px) rotate(1.5deg);
    opacity: 0.24;
  }
  70% {
    transform: translate(-3px, 3px) rotate(1.5deg);
    opacity: 0.59;
  }
  80% {
    transform: translate(2px, -2px) rotate(-0.5deg);
    opacity: 0.03;
  }
  90% {
    transform: translate(2px, -4px) rotate(-0.5deg);
    opacity: 0.05;
  }
  0%,
  100% {
    transform: translate(0, 0) rotate(0);
  }
}
