@reference "../../service/style/global.css";

.title {
  @apply relative z-50 italic text-cyan-400;
  font-family: var(--font-lazer84);
  font-size: clamp(3.1rem, 14vw, 5.25rem);
  transform: skewY(-4deg);
  margin-left: clamp(-5rem, -12vw, -2.5rem);
  text-shadow:
    2px 0px 3px var(--color-signal-cyan-deep, #00a895),
    2px 3px 1rem var(--color-signal-cyan-deep, #00a895),
    2px 0px 1rem,
    20px 0vw 10rem var(--color-signal-cyan-deep, #00a895),
    40px 0vw 10rem var(--color-signal-cyan-deep, #00a895);
}

.title span:last-child {
  @apply absolute inline-flex;
  top: 0.8em;
  left: 0.8em;
  animation: flicker 3s linear infinite;
}

@keyframes flicker {
  0%,
  19.999%,
  22%,
  62.999%,
  64%,
  64.999%,
  70%,
  100% {
    opacity: 0.99;
  }
  20%,
  21.999%,
  63%,
  63.999%,
  65%,
  69.999% {
    opacity: 0.4;
  }
}
