.menu {
  left: 50%;
  min-width: 320px; /* iPhone 5s screen */
  position: absolute;
  top: 38%; /* golden ratio */
  text-align: center;
  transform: translate(-50%, -38%);
  width: 50%;
  z-index: 10;
}

.move-slide {
  animation-duration: 5s; /* default value */
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  animation-name: slide-left;
}

.sprite {
  background-size: contain;
  bottom: 0;
  height: 50%;
  left: 0;
  position: absolute;
  width: 250%;
  margin: 0;
}

.title {

}

.sub-title {

}

@keyframes slide-left {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}
