.content {
  @apply flex flex-col mb-32 font-sans text-lg leading-7 break-words align-baseline;
  text-shadow: 2px 2px 0 var(--black);
}

.content p {
  @apply mb-2;
}

.content h3 {
  @apply my-4 text-2xl font-bold;
}

.content h4 {
  @apply mb-4 font-bold;
}

@screen sm {
  .content p {
    @apply text-lg;
  }
}

.sprite {
  @apply sticky self-end -mr-40;
  --size: 26rem;
  height: var(--size);
  margin-bottom: calc(var(--size) * -1);
  top: 50%;
  width: var(--size);
  z-index: -1;
}

.question {
  @apply absolute hidden p-1 pl-0 text-sm;
  cursor: help;
  top: -0.5rem;
}

@screen md {
  .sprite {
    --size: 32rem;
  }

  .question {
    @apply inline;
  }
}

.rubik {
  filter: brightness(1.5);
}
.rubik span:nth-child(1) {
  @apply text-red-600;
}
.rubik span:nth-child(2) {
  @apply text-blue-600;
}
.rubik span:nth-child(3) {
  @apply text-orange-600;
}
.rubik span:nth-child(4) {
  @apply text-green-600;
}
.rubik span:nth-child(5) {
  @apply text-yellow-600;
}
