.content {
  @apply flex flex-col mb-32 font-sans text-lg leading-7 break-words align-baseline;
  text-shadow: 2px 2px 0 var(--black);
}

.content p {
  @apply mb-2;
}

.content h3 {
  @apply my-4 text-2xl font-bold;
}

.content h4 {
  @apply mb-4 font-bold;
}

@screen sm {
  .content p {
    @apply text-lg;
  }
}

.sprite {
  @apply sticky self-end -mr-40;
  --size: 26rem;
  height: var(--size);
  margin-bottom: calc(var(--size) * -1);
  top: 50%;
  width: var(--size);
  z-index: -1;
}

@screen md {
  .sprite {
    --size: 32rem;
  }
}
