.city {
  @apply absolute bottom-0 left-0 m-0 bg-contain;
  height: 50vh;
  width: 800vw;
  background-image: url(/images/street.svg);
  z-index: -2;
  will-change: transform;
  background-position: bottom;
  background-repeat: repeat-x;
}
