.section {
  @apply relative py-4;
}

.section h2 {
  @apply sticky top-0 text-2xl font-bold uppercase text-cyan-400;
  writing-mode: vertical-rl;
  transition: 1s transform;
  transform: translate3d(-80%, 100%, 0);
}

.section h2:hover,
.section h2:active {
  transform: translate3d(-50%, 100%, 0);
}

.section ul {
  @apply pl-12;
  list-style-image: url(/images/cursor.svg);
}

.section li {
  @apply h-64 py-2;
}
