.neon {
  @apply text-cyan-400;
}

.neon:hover {
  animation: neon 2s linear infinite;
}

@keyframes neon {
  0%,
  100% {
    @apply text-cyan-400;
  }
  50% {
    text-shadow: 0 0 1vw #00a895, 0 0 2vw #00a895, 0 0 1.4vw #00a895,
      0 0 2vw #00a895, 0 0 0.4vw #8bfdfe, 0.25vw 0.25vw 0.1vw #147280;
    color: #d7fffc;
  }
}
