.green {
  @apply fixed top-0 bottom-0 z-50 h-screen;
  left: 4rem;
  width: 1px;
  box-shadow: 0 0 2px lawngreen;
  background: lawngreen;
  animation: flicker 1s;
  animation-iteration-count: 2;
  animation-delay: 1s;
}

@keyframes flicker {
  0%,
  19.999%,
  22%,
  62.999%,
  64%,
  64.999%,
  70%,
  100% {
    opacity: 1;
  }
  20%,
  21.999%,
  63%,
  63.999%,
  65%,
  69.999% {
    opacity: 0.2;
  }
}
