.header2 {
  @apply absolute top-0 text-xl leading-9 text-right transform -rotate-90;
  color: var(--pink);
  text-shadow: -1px 1px 0 #ffb9b9;
  transform-origin: right top;
  right: 4rem;
  width: 26rem;
}

.content {
  @apply pb-48 font-sans text-lg leading-7 break-words align-baseline;
  text-shadow: 2px 2px 0 var(--black);
}

.content p {
  @apply mb-2;
}

.content h3 {
  @apply my-4 text-2xl font-bold;
}

.content h4 {
  @apply mb-4 font-bold;
}

@screen sm {
  .content p {
    @apply text-lg;
  }
}

.sprite {
  @apply fixed right-0 -mr-48;
  width: 100vw;
  height: 100vw;
  min-width: 26rem;
  min-height: 26rem;
  max-width: 32rem;
  max-height: 32rem;
  bottom: -4rem;
  z-index: -1;
}

@media (min-width: 42rem) {
  /* matches max-w-2xl */
  .sprite {
    right: auto;
    left: 50%;
    bottom: 0;
  }
}
