@reference '../../../service/style/global.css';

.signature {
  @apply relative mb-8 ml-2 text-6xl;
  font-family: var(--font-lazer84);
}

.signature:after {
  @apply absolute text-3xl;
  top: 0.5rem;
  content: '💊';
}
