.parallax {
  @apply absolute bottom-0 h-full;
  width: 200vw;
  bottom: 8vh;
  transform: scaleX(-1);
  background-position: bottom;
  background-repeat: repeat-x;
}

.peak {
  @apply parallax;
  --offset-x: 10vw;
  --offset-y: 0;
  filter: contrast(1.5) brightness(0.7) blur(0.5px);
  background-image: url(/images/mountain.svg);
  animation: parallax 20s ease-out forwards;
}

.clouds {
  @apply parallax;
  --offset-x: 50vw;
  --offset-y: 2vh;
  opacity: 0.7;
  bottom: 4vh;
  background-image: url(/images/clouds.svg);
  animation-name: parallax, swing;
  animation-duration: 30s, 6s;
  animation-timing-function: ease-in-out, cubic-bezier(0.47, 0, 0.745, 0.715);
  animation-fill-mode: forwards;
  animation-iteration-count: 1, infinite;
  animation-delay: 0s, 33s;
}

.bridge {
  @apply absolute bottom-0 w-full;
  height: 14vh;
  filter: brightness(0.8) contrast(1.2);
  background-image: url(/images/bridge.svg);
  background-repeat: repeat-x;
}

.cloud {
  @apply parallax;
  filter: brightness(0.8) contrast(1.2);
  bottom: 0;
  width: 300vw;
  background-image: url(/images/clouds.svg);
}

@keyframes parallax {
  0% {
    transform: scaleX(-1) translate(0, 0);
  }
  100% {
    transform: scaleX(-1) translate(var(--offset-x), var(--offset-y));
  }
}

@keyframes swing {
  0%,
  100% {
    transform: scaleX(-1) translate(var(--offset-x), var(--offset-y));
  }
  50% {
    transform: scaleX(-1)
      translate(var(--offset-x), calc(var(--offset-y) + 6px));
  }
}
